<suite name="SeleniumTests" parallel="methods" thread-count="3">

    <listeners>

        <listener class-name="utils.MyListener"/>
        <listener class-name="utils.RetryListener"/>

    </listeners>

    <test name="LoginTest">

        <classes>

            <class name="tests.LoginTest" />
            <class name="tests.ProductTest" />
            <class name="tests.CartTest" />
            <class name="tests.CheckOutTest" />
            <class name="tests.InvalidEnterDetailsTest" />
            <class name="tests.VerifyMenuItems" />
            <class name="tests.ProductsSortTest" />

        </classes>

    </test>

</suite>